.home-container {
	background-color: rgb(238, 242, 246);
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px,
		rgba(0, 0, 0, 0.04) 0px 10px 10px;
	width: 100%;
	text-align: center;

	.home-frame-container {
		display: flex;
		justify-content: center;
		margin-top: 22vh;
	}

	.home-content-container {
		display: flex;
		flex-direction: column;
		padding: 48px;
		justify-content: center;
		background-color: white;
		border-radius: 12px;
	}

	.home-logo-container {
		display: flex;
		margin-bottom: 24px;
		justify-content: center;
		background-color: white;
		border-radius: 12px;
	}

	.home-logo {
		height: 150px;
		width: 150px;
		background-image: url('../../assets/logo-globe.svg');
		background-size: cover;
	}

	.home-text-logo {
		font-size: 5.5rem;
		font-weight: 600;
	}

	.home-txt {
		font-size: 4rem;
		font-weight: 600;
	}
	.home-txt-choice {
		font-size: 2rem;
		font-weight: 600;
	}
}
