.tile-news-container {
	background-color: white;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px,
		rgba(0, 0, 0, 0.04) 0px 10px 10px;
	transition: transform 0.3s ease;
	padding: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.tile-img-news {
		height: 180px;
		width: 100%;
		object-fit: cover;
		border-radius: 6px;
	}

	.tile-title-container {
		.title-txt {
			font-size: large;
		}
	}

	.tile-date {
		display: flex;
		justify-content: space-between;
		margin-bottom: 12px;
	}

	.tile-button-container {
		display: flex;
		justify-content: flex-end;
	}
}

.tile-news-container:hover {
	transform: scale(1.1);
}
